body {
    background: rgb(50, 50, 50);
    color: white;
    font-family: Helvetica Neue, helvetica, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: rgb(25, 25, 25);
    padding: 20px;
}
section{
    background: white;
    color: gray;
    padding:20px;
    display:flex;
    flex-direction: row;
}
footer{
    background: black;
    padding: 10px 20px;
}
div {
    background: red;
    margin: auto;
    width:100px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 20px;
}
.navigation a{
    color: black;
}