/********** General styles **********/

a {
    text-decoration: none;
}

body {
    background: rgb(20, 20, 20);
    color: white;
    font-family: Helvetica Neue, helvetica, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Navigation menu */
.navigation {
    padding: 40px 40px 40px 40px;
}
.navigation a{
    color: white;
    font-size: 16px;
}

/*.navigation button:hover {
    background-color: white;
}*/

.navigation button:active a {
    font-weight: bold;
}

.navigation button {
    background: rgb(20, 20, 20);
    padding: 0px 5px 0px 5px;
    margin: 2px;
    border: currentColor;
    border-radius: 5px;
}

/********** index.html classes **********/
.page-left {
    margin-top: 100px;
    margin-left: 5%;
    width: 500px;
}

/* .page-right {
    margin-left: 40px;
    margin-top: 50px;
    width:250px;
    height: 250px;
    text-indent: -999999999999px;
    background-image: url("../images/Antique\ picture.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 30px;
    flex-wrap: wrap;
} */

.page-right {
    margin-left: 10px;
    margin-right: 5%;
    margin-top: 50px;
    height: 500px;
    width: 500px;
}

.page-right img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.introduction {
    font-size: 20px;

}

.landing-header {
    font-size: 60px;
}

.name {
    color: rgb(3, 175, 3)

}

.links {
    background-color: rgb(20, 20, 20);
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 50px;
    padding:20px;
    display:flex;
    flex-direction: row;
}

.links a{
    text-align: center;
    color: black;
    font-family: Helvetica Neue, helvetica, Arial, Helvetica, sans-serif; 
}

.links div{
    margin-right: 20px;
}

.links button{
    background: grey;
    border: black;
    padding: 5px;
    border-radius: 5px;
}

.links button:hover{
    background: white;
}

.links button:active a {
    font-weight: bold;
}

@media screen and (min-width: 500px){
.landing-main {
    display: flex;
    flex-direction: row;
    flex: wrap;
}

}

/********** Portfolio.html classes **********/

.portfolio-label{
    font-size: 60px;
    margin: 20px 40px 20px 40px;
}
.portfolio-div {
    margin-top: 20px;
    margin-bottom: 30px;
}
.portfolio-title {
    text-align: center;
    margin-left: 400px;
    font-size: 60px;

}

.portfolio-text {
    margin-left: 20px;
    font-size: 30px;
}

.portfolio-list {
    margin-top: 10px;
    display:flex;
    flex-direction: row;
}

.portfolio-img img{
    width: 200px;
    object-fit: scale-down;
    
}

.portfolio-img {
    margin-left: 50px;
}

/********** aabout-me.html classes **********/

.about-me-label {
    background-color: red;
    font-size: 60px;
    padding: 0px 20px 0px 60px;

}

.about-me-list {
    margin-top: 20px;
    display:flex;
    flex-direction: row;
}

.about-me-title {
    background-color: blue;
    font-size: 40px;
    padding: 0px 20px 0px 60px;
}

.about-me-text {
    font-size: 24px;
    margin-left: 40px;
    display: flex;
}

.about-me-list li:first-child{
    width: 600px;
    background-color: purple;
}

.about-me-list li:second-child{
    width:400px;
}

.about-me-img img{
    object-fit: scale-down;
    width: 700px;
}